<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Iron Beers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <div class="header">
          <a href="/">Home</a>
          <a href="/beers">Beers</a>
          <a href="/random-beer">Random Beer</a>
    </div>
  </head>
  <body>
    
    {{{ body }}} 
  </body>
  <footer class="footer">
    <p>Developed by Ironhack :)</p>
  </footer>
</html>
